<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Banka</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>mainServlet</display-name>
    <servlet-name>mainServlet</servlet-name>
    <servlet-class>mainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mainServlet</servlet-name>
    <url-pattern>/mainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registraciaServlet</display-name>
    <servlet-name>registraciaServlet</servlet-name>
    <servlet-class>registraciaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registraciaServlet</servlet-name>
    <url-pattern>/registraciaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>splatkaServlet</display-name>
    <servlet-name>splatkaServlet</servlet-name>
    <servlet-class>splatkaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>splatkaServlet</servlet-name>
    <url-pattern>/splatkaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>historiaSplatok</display-name>
    <servlet-name>historiaSplatok</servlet-name>
    <servlet-class>historiaSplatok</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>historiaSplatok</servlet-name>
    <url-pattern>/historiaSplatok</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminServlet</display-name>
    <servlet-name>adminServlet</servlet-name>
    <servlet-class>adminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminServlet</servlet-name>
    <url-pattern>/adminServlet</url-pattern>
  </servlet-mapping>
</web-app>